<ion-app>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mapa">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ingresar" *ngIf="!isLogged()">
        <ion-icon name="log-in"></ion-icon>
        <ion-label>Ingresar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cuenta" *ngIf="isLogged()">
        <ion-icon name="person"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="info">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Info</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <div></div>
</ion-app>