<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Ingresar
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="main">
      <ion-card class="welcome-card" *ngIf="ingresar">
        <ion-card-header>
          <ion-card-title style=" color: white;">Iniciar sesion</ion-card-title>
        </ion-card-header>
        <ion-card-content style=" color: #ebebeb;">
            <form #f="ngForm" (ngSubmit)="login.usuario && login.pass && iniciarSesion(f)" novalidate>
                <ion-list lines="full" class="ion-no-margin ion-no-padding">
                  <ion-item>
                    <ion-input required placeholder="Usuario/Email" type="text" [(ngModel)]="login.usuario" name="usuario"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input required placeholder="Contraseña" type="password" [(ngModel)]="login.pass" name="pass"></ion-input>
                  </ion-item>
                 </ion-list>
                 <ion-button color="secondary" size="default" style="margin-top: 4vh;" (click)="toggle()">
                    <ion-icon slot="icon-only" name="person-add"></ion-icon>
                </ion-button>
                 <ion-button color="primary" type="submit" size="default" class="ion-float-right" style="margin-top: 4vh;" 
                 [disabled]="!login.usuario || !login.pass">
                    <ion-icon slot="icon-only" name="log-in"></ion-icon>
                </ion-button>
            </form>
        </ion-card-content>
      </ion-card>
      <ion-card class="welcome-card" *ngIf="!ingresar">
        <ion-card-header>
          <ion-card-title style=" color: white;">Nuevo usuario</ion-card-title>
        </ion-card-header>
        <ion-card-content style=" color: #ebebeb;">
            <form #f="ngForm" (ngSubmit)="new.nombre && new.apellido && new.email && new.pass && iniciarSesion(f)" novalidate>
                <ion-list lines="full" class="ion-no-margin ion-no-padding">
                  <ion-item [class.myInvalid]="f.submitted && !new.nombre" [class.myValid]="f.submitted && new.nombre">
                    <ion-input placeholder="Nombre" type="text" [(ngModel)]="new.nombre" name="nombre"></ion-input>
                  </ion-item>
                  <ion-item [class.myInvalid]="f.submitted && !new.apellido" [class.myValid]="f.submitted && new.apellido">
                    <ion-input placeholder="Apellido" type="text" [(ngModel)]="new.apellido" name="apellido"></ion-input>
                  </ion-item>
                  <ion-item [class.myInvalid]="f.submitted && !validEmail" [class.myValid]="f.submitted && validEmail">
                    <ion-input placeholder="Email" type="text" [(ngModel)]="new.email" name="email" (ngModelChange)="validateEmail($event)"></ion-input>
                    <ion-button *ngIf="f.submitted && !validEmail" color="danger"><ion-icon slot="icon-only" size="small" name="close"></ion-icon></ion-button>
                </ion-item>
                  <ion-item [class.myInvalid]="f.submitted && !validPass" [class.myValid]="f.submitted && validPass">
                    <ion-input placeholder="Contraseña" type="password" [(ngModel)]="new.pass" name="password" (ngModelChange)="validatePass($event)"></ion-input>
                    <ion-button *ngIf="f.submitted && !validPass" color="danger"><ion-icon slot="icon-only" size="small" name="close"></ion-icon></ion-button>  
                </ion-item>
                 </ion-list>
                 <ion-card style="background: #ffdede !important;">
                  <ion-card-content *ngIf="f.submitted && (!validEmail || !validPass)">
                    <ul>
                      <li *ngIf="f.submitted && !validEmail">
                          <p style="color: rgb(196, 0, 0) !important; background: inherit !important;"><strong>Email inválido</strong></p>
                      </li>
                      <li *ngIf="f.submitted && !validPass">
                          <p style="color: rgb(196, 0, 0) !important; background: inherit !important;"><strong>La contraseña debe tener mínimo 8 caracteres, entre ellos: </strong></p>
                          <ul style="color:black !important ">
                            <li><p>Un número</p></li>
                            <li><p>Una letra mayúscula</p></li>
                            <li><p>Una letra minúscula</p></li>
                            <li><p>Un caracter especial</p></li>
                          </ul>
                      </li>
                    </ul>
                  </ion-card-content>
                </ion-card>
                 <ion-button color="danger" size="default" style="margin-top: 4vh;" (click)="toggle();">
                    <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
                </ion-button>
                 <ion-button color="secondary" type="submit" size="default" class="ion-float-right" style="margin-top: 4vh;" 
                 [disabled]="!new.nombre || !new.apellido || !new.email || !new.pass">
                    <ion-icon slot="icon-only" name="person-add"></ion-icon>
                </ion-button>
            </form>
        </ion-card-content>
      </ion-card>
  </ion-content>