<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Mapa
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id='mapid' style="width:100%; height:100%;">
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!mostrarSitioInput && !mostrarUnidadAcademica">
            <ion-row>
                <ion-col>
                    <ion-fab-button (click)="modalBuscarMapa()" color="primary">
                        <ion-icon name="search"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col>
                    <ion-fab-button (click)="limpiarMapa()" color="danger">
                        <ion-icon name="trash"></ion-icon>
                    </ion-fab-button>
                </ion-col>
            </ion-row>
        </ion-fab>
    </div>
</ion-content>