<ion-content class="main">
  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
      <ion-card id="login-card">
        <ion-row>
          <ion-col size="6">
            <img src="../../assets/logo-unco.png" />
          </ion-col>
          <ion-col size="6">
            <img src="../../assets/icon/favicon.png" />
          </ion-col>
        </ion-row>
        <ion-card-header>
          <ion-card-subtitle style=" color: #0d9aac;"><strong>UNCo Neuquén</strong></ion-card-subtitle>
          <ion-card-title style=" color: white;">¿Dónde curso? </ion-card-title>
        </ion-card-header>
        <ion-card-content style=" color: #ebebeb;">
          <p>
            ¿Dónde curso? es una aplicación sin fines de lucro cuyo objetivo principal es ayudar a todos
            los estudiantes de la Universidad Nacional del Comahue a encontrar el aula donde deben
            asistir a clases.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>